.simple-date-week, .simple-date-content {
    margin-left: 2px;
    overflow: hidden;
}
.simple-date-picker ul,.simple-date-picker li{
    margin:0;
    padding:0;
    list-style:none;
}
.simple-date-content li, .simple-date-week li {
    width: 22px;
    float: left;
    text-align: center;
    line-height: 22px;
}

.simple-date-picker {
    width: 158px;
    overflow: hidden;
    padding: 0px 0px;
    border: 1px solid #565964;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.current {
    color: #36c;
}

.simple-date-control {
    background: #565964;
    line-height: 20px;
    color: #fff;
    padding: 1px 5px;
    text-align: right;
}

.simple-date-year {
    float: left;
}

.simple-date-content li:hover {
    background: #565964;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.simple-date-content li.disabled:hover {
    background: #fff;
    cursor: default;
}

.simple-date-ctrl-action {
    cursor: pointer;
    display:inline-block;
    width:16px;
    height:16px;
    text-align:center;
}

.simple-date-footer {
    background: #eee;
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}