body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, th, td, span {
  margin: 0;
  padding: 0; }

html {
  overflow-y: scroll; }

body {
  font-family: Arial, Verdana, Geneva, "\5fae\8f6f\96c5\9ed1", "\5B8B\4F53";
  font-size: 12px;
  line-height: 1.333;
  color: #333333; }

html:root body,
html:root input,
html:root button,
html:root textarea,
html:root select {
  font-family: Arial, Verdana, Geneva, "\5fae\8f6f\96c5\9ed1", "\5B8B\4F53"; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

small {
  font-size: 12px; }

@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#uxiconfont") format("svg");
  /* iOS 4.1- */ }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.icon,
.sui-icon-font {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  color: #333333; }
  .icon:hover,
  .sui-icon-font:hover {
    text-decoration: none;
    color: #333333; }

img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.sui-button {
  line-height: 1.333;
  padding: 5px 12px;
  font-size: 12px;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  background: #fff; }

.sui-button-normal {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); }
  .sui-button-normal:hover {
    border-color: #b3b3b3; }
  .sui-button-normal:active, .sui-button-normal.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset;
    border-color: #4f90f6; }
  .sui-button-normal.sui-state-disabled, .sui-button-normal.sui-state-disabled:hover, .sui-button-normal.sui-state-disabled:active {
    color: #999999;
    border-color: #ddd;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-primary {
  background: #4f90f6;
  font-weight: bolder;
  color: white;
  border-color: #4f90f6;
  text-shadow: 1px 0 0 #1e71f4; }
  .sui-button-primary:hover, .sui-button-primary.sui-state-hover {
    border-bottom-color: #1e71f4;
    background: #5e99f7; }
  .sui-button-primary:active, .sui-button-primary.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-primary.sui-state-disabled, .sui-button-primary.sui-state-disabled:hover, .sui-button-primary.sui-state-disabled:active {
    background: #98befa;
    color: white;
    border-color: #98befa;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-warn {
  background: #cd3f33;
  font-weight: bolder;
  color: white;
  border-color: #cd3f33;
  text-shadow: 1px 0 0 #a53228; }
  .sui-button-warn:hover, .sui-button-warn.sui-state-hover {
    border-bottom-color: #a53228;
    background: #d04b3f; }
  .sui-button-warn:active, .sui-button-warn.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-warn.sui-state-disabled, .sui-button-warn.sui-state-disabled:hover, .sui-button-warn.sui-state-disabled:active {
    background: #dc7970;
    color: white;
    border-color: #dc7970;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-success {
  background: #56a643;
  font-weight: bolder;
  color: white;
  border-color: #56a643;
  text-shadow: 1px 0 0 #438234; }
  .sui-button-success:hover, .sui-button-success.sui-state-hover {
    border-bottom-color: #438234;
    background: #5cb147; }
  .sui-button-success:active, .sui-button-success.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-success.sui-state-disabled, .sui-button-success.sui-state-disabled:hover, .sui-button-success.sui-state-disabled:active {
    background: #81c570;
    color: white;
    border-color: #81c570;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-info {
  background: #f2b22a;
  font-weight: bolder;
  color: white;
  border-color: #f2b22a;
  text-shadow: 1px 0 0 #dc9a0d; }
  .sui-button-info:hover, .sui-button-info.sui-state-hover {
    border-bottom-color: #dc9a0d;
    background: #f3b738; }
  .sui-button-info:active, .sui-button-info.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-info.sui-state-disabled, .sui-button-info.sui-state-disabled:hover, .sui-button-info.sui-state-disabled:active {
    background: #f6cc72;
    color: white;
    border-color: #f6cc72;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-small {
  padding: 3px 10px; }

.sui-button-large {
  padding: 6px 15px;
  font-size: 16px;
  font-weight: bolder; }

.sui-button-group .sui-button {
  margin-right: -1px; }

.sui-button-group .sui-button-first {
  border-radius: 2px 0 0 2px; }

.sui-button-group .sui-button-last {
  border-radius: 0 2px 2px 0; }

.sui-dropdown-button .sui-arrow-top-bg,
.sui-dropdown-button .sui-arrow-bottom-bg {
  position: relative;
  display: inline-block;
  border-color: #999999 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0; }

.sui-dropdown-button .sui-arrow-bottom-bg {
  top: 3px;
  margin-right: -5px; }

.sui-pagination-item, .sui-pagination-ellipsis {
  font-size: 14px;
  padding: 5px 9px;
  border: 1px solid #cccccc;
  margin-right: 5px;
  color: #333333;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none; }
  .sui-pagination-item:hover, .sui-pagination-ellipsis:hover {
    color: #4f90f6;
    border-color: #4f90f6; }
  .sui-pagination-item:active, .sui-pagination-ellipsis:active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) inset; }
  .sui-pagination-item.sui-state-disabled, .sui-state-disabled.sui-pagination-ellipsis {
    color: #999999;
    cursor: default;
    border-color: #d9d9d9; }

.sui-pagination-item.sui-state-current, .sui-pagination-ellipsis {
  border: 0;
  font-weight: bolder;
  color: #666666;
  cursor: default; }

.sui-pagination-ellipsis {
  font-weight: normal; }
  .sui-pagination-ellipsis:hover {
    color: #666666; }
  .sui-pagination-ellipsis:active {
    box-shadow: none; }

.sui-popup, .sui-menu {
  position: absolute;
  border: 1px solid #d0d0d0;
  background: #fff;
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  border-radius: 2px;
  z-index: 1000;
  -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
  -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
  -o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
  transition: opacity 0.35s ease, transform 0.35s ease; }

.sui-popup.sui-transition, .sui-transition.sui-menu {
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }

.sui-autocomplete, .sui-menu {
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.4);
  padding: 5px 0; }

.sui-autocomplete-item, .sui-menu-item {
  padding: 5px 15px;
  min-width: 160px; }
  .sui-autocomplete-item:hover, .sui-menu-item:hover, .sui-autocomplete-item.sui-state-hover, .sui-state-hover.sui-menu-item, .sui-autocomplete-item.sui-state-selected, .sui-state-selected.sui-menu-item {
    background: #f5f5f5; }

.sui-autocomplete-item-hl {
  color: #60b74c; }

.sui-tooltip {
  border: 0;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.4); }

.sui-tooltip-bd {
  background-color: #FFF;
  border: 1px solid #ccc;
  line-height: 17.99px;
  padding: 12px;
  max-width: 200px;
  min-width: 100px; }

.sui-arrow {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand');
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10px;
  height: 10px; }

.sui-arrow-bottom {
  bottom: -5px;
  left: 15px;
  border-left: 0;
  border-top: 0; }

.sui-arrow-left {
  left: -5px;
  top: 15px;
  border-top: 0;
  border-right: 0; }

.sui-arrow-top {
  margin-left: -9px;
  top: -5px;
  left: 20px;
  border-right: 0;
  border-bottom: 0; }

.sui-arrow-right {
  top: 10px;
  right: -5px;
  border-left: 0;
  border-bottom: 0; }

.sui-menu-item {
  cursor: pointer; }

.sui-menu-title {
  font-size: 16px;
  color: #666666;
  padding: 5px 10px 0 10px; }

.sui-menu-content {
  padding: 5px 0px 10px;
  border-bottom: 1px solid #d0d0d0; }
  .sui-menu-content:last-child {
    border: 0;
    padding-bottom: 0; }

.sui-menu-node {
  color: #333333; }
  .sui-menu-node:hover {
    color: #333333;
    text-decoration: none; }
  .sui-menu-node em {
    font-style: normal;
    color: #999999;
    float: right;
    display: none; }

.sui-menu-hassub i {
  display: inline-block;
  border-color: transparent transparent transparent #999999;
  border-width: 5px;
  border-style: solid;
  top: 3px;
  float: right;
  margin-right: -10px;
  position: relative; }

.sui-dialog {
  border: 1px #565964 solid;
  position: fixed;
  _position: absolute;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background: white;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -moz-transition: opacity .35s ease-out, -moz-transform .35s ease-out 0s;
  -webkit-transition: opacity .35s ease-out, -webkit-transform .35s ease-out 0s;
  -o-transition: opacity .35s ease-out, -o-transform .35s ease-out 0s;
  transition: opacity .35s ease-out, transform .35s ease-out 0s;
  min-width: 300px; }

.sui-dialog.sui-transition {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.sui-dialog-title {
  font-size: 16px;
  padding: 15px 60px 5px 20px;
  margin: 0; }

.sui-dialog-content {
  padding: 20px; }

.sui-dialog-button-wrap {
  padding: 0 20px 20px; }
  .sui-dialog-button-wrap .sui-button {
    margin-right: 10px; }

.sui-modal {
  background: #eeeeee;
  opacity: 0;
  position: absolute;
  z-index: 999;
  -moz-transition: opacity .35s ease-out;
  -webkit-transition: opacity .35s ease-out;
  -o-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out, transform .35s ease-out 0s; }

.sui-modal.sui-transition {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.sui-dialog-handle {
  position: absolute;
  top: 10px;
  right: 15px; }

.sui-dialog-close, .sui-dialog-min, .sui-dialog-max {
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  font-size: 12px;
  color: #565964; }
  .sui-dialog-close:hover, .sui-dialog-min:hover, .sui-dialog-max:hover {
    color: #6e717f; }

.sui-content-iframe {
  width: 100%;
  height: 100%; }

.sui-icon-confirm, .sui-icon-alert {
  font-size: 32px;
  margin-right: 10px;
  color: #4f90f6; }

.sui-icon-alert {
  color: #cd3f33; }

.sui-date-picker {
  width: 189px;
  overflow: hidden;
  padding: 0px 0px;
  border: 1px solid #565964;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 0; }

.sui-date-picker ul, .sui-date-picker li {
  margin: 0;
  padding: 0;
  list-style: none; }

.sui-date-content li, .sui-date-week li {
  width: 25px;
  float: left;
  text-align: center;
  line-height: 23px; }

.sui-date-picker .sui-date-week, .sui-date-picker .sui-date-content {
  margin-left: 2px;
  overflow: hidden;
  padding: 5px; }

.sui-date-picker .current {
  color: #4f90f6; }

.sui-date-control {
  background: #565964;
  line-height: 25px;
  color: #fff;
  padding: 1px 5px;
  text-align: right; }

.sui-date-year {
  float: left; }

.sui-date-content li:hover {
  background: #4f90f6;
  color: #fff;
  cursor: pointer; }

.sui-date-content li.disabled,
.sui-date-content li.disabled:hover {
  background: #fff;
  cursor: default;
  color: #999; }

.sui-date-ctrl-action {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center; }

.sui-date-footer {
  background: #eee;
  border-top: 1px solid #ddd;
  padding: 2px 5px; }

.sui-date-action {
  color: #fff;
  text-decoration: none;
  font-size: 12px; }

.sui-resize {
  position: absolute;
  background: transparent; }

.sui-resize-n, .sui-resize-s {
  width: 100%;
  height: 5px;
  left: 0;
  top: -2px;
  cursor: n-resize; }

.sui-resize-ne, .sui-resize-sw, .sui-resize-se, .sui-resize-nw {
  width: 5px;
  height: 5px; }

.sui-resize-ne {
  top: -1px;
  right: -1px;
  cursor: ne-resize; }

.sui-resize-e {
  height: 100%;
  width: 5px;
  top: 0;
  right: -2px;
  cursor: e-resize; }

.sui-resize-se {
  right: -1px;
  bottom: -1px;
  cursor: se-resize; }

.sui-resize-s {
  top: auto;
  bottom: -2px;
  cursor: s-resize; }

.sui-resize-sw {
  left: -1px;
  bottom: -1px;
  cursor: sw-resize; }

.sui-resize-w {
  height: 100%;
  width: 5px;
  left: -2px;
  top: 0;
  cursor: w-resize; }

.sui-resize-nw {
  top: -1px;
  left: -1px;
  cursor: nw-resize; }

.sui-selectable-proxy {
  border: 1px solid #0783d2;
  background: #96d5fd;
  opacity: 0.8;
  position: absolute;
  filter: alpha(opacity=80); }
