$auto-complete-border:#d0d0d0;
$auto-complete-hover:#f5f5f5;

.sui-popup{
  position: absolute;
  border: 1px solid $auto-complete-border;
  background: #fff;
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  border-radius: 2px;
  z-index: 1000;
  -moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
  -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
  -o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
  transition: opacity 0.35s ease, transform 0.35s ease;
}
.sui-popup.sui-transition{
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}

.sui-autocomplete{
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.4);
  padding:5px 0;
}

.sui-autocomplete-item{
  padding:5px 15px;
  min-width: 160px;
  &:hover,
  &.sui-state-hover,
  &.sui-state-selected{
    background: #f5f5f5;
  }
}

.sui-autocomplete-item-hl{
  color:lighten($success,5%);
}

.sui-tooltip{
  border:0;
  box-shadow: 4px 4px 40px rgba(0,0,0,.4);
}

.sui-tooltip-bd{
  background-color: #FFF;
  border:1px solid #ccc;
  line-height: 17.99px;
  padding: 12px;
  max-width: 200px;
  min-width: 100px;
}
.sui-arrow {
  position: absolute;
  border : 1px solid #ccc;
  background : #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand');
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width:10px;
  height:10px;
}
.sui-arrow-bottom {
  bottom: -5px;
  left:15px;
  border-left:0;
  border-top:0;
}
.sui-arrow-left {
  left: -5px;
  top:15px;
  border-top:0;
  border-right: 0;
}
.sui-arrow-top {
  margin-left: -9px;
  top: -5px;
  left:20px;
  border-right:0;
  border-bottom:0;
}
.sui-arrow-right {
  top: 10px;
  right: -5px;
  border-left:0;
  border-bottom: 0;
}