@import "global";

$button-normal: #fff;
$button-radius: 2px;

.sui-button {
  line-height: $line-height-default;
  padding: 5px 12px;
  font-size: $font-size-default;
  color: $body-color;
  border: 1px solid #ccc;
  border-radius: $button-radius;
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  background: #fff;
}

.sui-button-normal {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  &:hover {
    border-color: darken(#ccc,10%);
  }
  &:active,
  &.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15) inset;
    border-color: $primary;
  }
  &.sui-state-disabled,
  &.sui-state-disabled:hover,
  &.sui-state-disabled:active {
    color: $body-color-lighter;
    border-color: #ddd;
    cursor: default;
    text-shadow: none;
    box-shadow: none;
  }
}

@mixin button-color($bg-color, $color: $body-color) {
  background: $bg-color;
  font-weight: bolder;
  color: $color;
  border-color: $bg-color;
  text-shadow: 1px 0 0 darken($bg-color, 10%);;
  &:hover,
  &.sui-state-hover {
    border-bottom-color: darken($bg-color, 10%);
    background: lighten($bg-color, 3%);
  }
  &:active,
  &.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15) inset;
  }
  &.sui-state-disabled,
  &.sui-state-disabled:hover,
  &.sui-state-disabled:active {
    background: lighten($bg-color, 15%);
    color: lighten($bg-color, 70%);
    border-color: lighten($bg-color, 15%);
    cursor: default;
    text-shadow: none;
    box-shadow: none;
  }
}

//button type

.sui-button-primary {
  @include button-color($primary, #fff);
}

.sui-button-warn {
  @include button-color($warn, #fff);
}

.sui-button-success {
  @include button-color($success, #fff);
}

.sui-button-info {
  @include button-color($info, #fff);
}

//button size
.sui-button-small {
  padding: 3px 10px;
}

.sui-button-large {
  padding: 6px 15px;
  font-size: $font-size-large;
  font-weight: bolder;
}

//button-group
.sui-button-group .sui-button{
  margin-right:-1px;
}
.sui-button-group .sui-button-first{
  border-radius: $button-radius 0 0 $button-radius;
}
.sui-button-group .sui-button-last{
  border-radius: 0 $button-radius $button-radius 0;
}

//dropdown -button

.sui-dropdown-button .sui-arrow-top-bg,
.sui-dropdown-button .sui-arrow-bottom-bg{
  position: relative;
  display: inline-block;
  border-color: $body-color-lighter rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
  border-style: solid;
  border-width: 5px;
  width:0;
  height:0;
}

.sui-dropdown-button .sui-arrow-bottom-bg{
  top:3px;
  margin-right:-5px;
}

