
$dialog-bg:#fff;
$dialog-modal-color:#eee;
$dialog-modal-opacity:.7;
$dialog-zindex:1000;

.sui-dialog{
  border:1px $primary-bg solid;
  position: fixed;
  _position: absolute;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: $dialog-zindex;
  background:$dialog-bg;
  -moz-transform:scale(0);
  -webkit-transform:scale(0);
  -o-transform:scale(0);
  transform:scale(0);
  opacity:0;
  -moz-transition:opacity .35s ease-out, -moz-transform .35s ease-out 0s;
  -webkit-transition:opacity .35s ease-out, -webkit-transform .35s ease-out 0s;
  -o-transition:opacity .35s ease-out, -o-transform .35s ease-out 0s;
  transition:opacity .35s ease-out, transform .35s ease-out 0s;
  min-width:300px;
}

.sui-dialog.sui-transition{
  opacity:1;
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  transform:scale(1);
}

.sui-dialog-title{
  font-size: $font-size-large;
  padding:15px 60px 5px 20px;
  margin:0;

}

.sui-dialog-content{
  padding: 20px;
}

.sui-dialog-button-wrap{
  padding:0 20px 20px;
  .sui-button{
    margin-right:10px;
  }
}

.sui-modal{
  background: $dialog-modal-color;
  opacity: 0;
  position: absolute;
  z-index: $dialog-zindex - 1;
  -moz-transition:opacity .35s ease-out;
  -webkit-transition:opacity .35s ease-out;
  -o-transition:opacity .35s ease-out;
  transition:opacity .35s ease-out;
}

.sui-modal.sui-transition{
  opacity: $dialog-modal-opacity;
  filter:alpha(opacity=($dialog-modal-opacity*100));
}

.sui-dialog-handle{
  position: absolute;
  top:10px;
  right:15px;
}

.sui-dialog-close,.sui-dialog-min,.sui-dialog-max{
  @include inline-block;
  cursor: pointer;
  font-size: 12px;
  color:$primary-bg;
  &:hover{
    color:lighten($primary-bg,10%);
  }
}

.sui-content-iframe{
  width:100%;
  height:100%;
}

.sui-icon-confirm,.sui-icon-alert{
  font-size:32px;
  margin-right:10px;
  color:$primary;
}
.sui-icon-alert{
  color:$warn;
}

