$experimental: true;


//color

$body-color: #333;
$body-color-light: #666;
$body-color-lighter: #999;

$normal: #fff;
$primary: #4f90f6;
$warn: #cd3f33;
$success: #56a643;
$info: #f2b22a;

$link-color: $primary;
$link-color-hover: $primary;

//font

$body-font-family: Arial, Verdana, Geneva, "\5fae\8f6f\96c5\9ed1", "\5B8B\4F53";

//font size
$font-size-base: 14px;
$font-size-default: 12px;
$font-size-large: 16px;

//icon size
$icon-size-default: 16px;
$icon-size-small: 14px;
$icon-size-smaller: 10px;
$icon-size-large: 24px;
$icon-size-larger: 32px;

// text direction

$text-default-direction: ltr;
$float-default: left;

//line height

$line-height-default: 1.333;

// border radius

$border-radius-default: 3px;

//cursor

$cursor-default-value: default !default;
$cursor-pointer-value: pointer !default;
$cursor-help-value: help !default;
$cursor-text-value: text !default;

//mixin

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

@mixin single-transition($property: all, $speed: 300ms, $ease: ease-out) {
  @if $experimental {
    -webkit-transition: $property $speed $ease;
    -moz-transition: $property $speed $ease;
  }
  transition: $property $speed $ease;
}

@mixin border-radius($radius: $global-radius) {
  @if $radius {
    @if $experimental {
      -webkit-border-radius: $radius;
    }
    border-radius: $radius;
  }
}

