@import "global";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, th, td,span{
  margin:0;
  padding:0;
}
html{
  overflow-y:scroll;
}
body{
  font-family:$body-font-family;
  font-size:$font-size-default;
  line-height:$line-height-default;
  color:$body-color;
}
html:root body,
html:root input,
html:root button,
html:root textarea,
html:root select {
  font-family:$body-font-family;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset, img {
  border:0;
}
li {
  list-style:none;
}
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
}
input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
input, textarea, select {
  *font-size:100%;
}
small{
  font-size:12px;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}

.clearfix {
  @include clearfix;
}

.icon,
.sui-icon-font{
  font-family: "iconfont";
  font-size: $icon-size-default;
  font-style: normal;
}

img {
  @include inline-block;
  vertical-align: middle;
}