.sui-button {
  line-height: 1.333;
  padding: 6px 15px;
  font-size: 12px;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  background: #fff; }

.sui-button-normal:hover {
  border-color: #b3b3b3; }
.sui-button-normal:active, .sui-button-normal.sui-state-checked {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset;
  border-color: #4f90f6; }
.sui-button-normal.sui-state-disabled, .sui-button-normal.sui-state-disabled:hover, .sui-button-normal.sui-state-disabled:active {
  color: #999999;
  border-color: #ddd;
  cursor: default;
  text-shadow: none;
  box-shadow: none; }

.sui-button-primary {
  background: #4f90f6;
  font-weight: bolder;
  color: white;
  border-color: #4f90f6;
  text-shadow: 1px 0 0 #1e71f4; }
  .sui-button-primary:hover, .sui-button-primary.sui-state-hover {
    border-bottom-color: #1e71f4;
    background: #5e99f7; }
  .sui-button-primary:active, .sui-button-primary.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-primary.sui-state-disabled, .sui-button-primary.sui-state-disabled:hover, .sui-button-primary.sui-state-disabled:active {
    background: #98befa;
    color: white;
    border-color: #98befa;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-warn {
  background: #cd3f33;
  font-weight: bolder;
  color: white;
  border-color: #cd3f33;
  text-shadow: 1px 0 0 #a53228; }
  .sui-button-warn:hover, .sui-button-warn.sui-state-hover {
    border-bottom-color: #a53228;
    background: #d04b3f; }
  .sui-button-warn:active, .sui-button-warn.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-warn.sui-state-disabled, .sui-button-warn.sui-state-disabled:hover, .sui-button-warn.sui-state-disabled:active {
    background: #dc7970;
    color: white;
    border-color: #dc7970;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-success {
  background: #56a643;
  font-weight: bolder;
  color: white;
  border-color: #56a643;
  text-shadow: 1px 0 0 #438234; }
  .sui-button-success:hover, .sui-button-success.sui-state-hover {
    border-bottom-color: #438234;
    background: #5cb147; }
  .sui-button-success:active, .sui-button-success.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-success.sui-state-disabled, .sui-button-success.sui-state-disabled:hover, .sui-button-success.sui-state-disabled:active {
    background: #81c570;
    color: white;
    border-color: #81c570;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-info {
  background: #f2b22a;
  font-weight: bolder;
  color: white;
  border-color: #f2b22a;
  text-shadow: 1px 0 0 #dc9a0d; }
  .sui-button-info:hover, .sui-button-info.sui-state-hover {
    border-bottom-color: #dc9a0d;
    background: #f3b738; }
  .sui-button-info:active, .sui-button-info.sui-state-checked {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset; }
  .sui-button-info.sui-state-disabled, .sui-button-info.sui-state-disabled:hover, .sui-button-info.sui-state-disabled:active {
    background: #f6cc72;
    color: white;
    border-color: #f6cc72;
    cursor: default;
    text-shadow: none;
    box-shadow: none; }

.sui-button-small {
  padding: 3px 10px; }

.sui-button-large {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bolder; }

.sui-button-group .sui-button {
  margin-right: -1px; }

.sui-button-group .sui-button-first {
  border-radius: 2px 0 0 2px; }

.sui-button-group .sui-button-last {
  border-radius: 0 2px 2px 0; }
