@import "util.scss";
.sui-date-picker {
    width: 189px;
    overflow: hidden;
    padding: 0px 0px;
    border: 1px solid #565964;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 0;
}

.sui-date-picker ul,.sui-date-picker li{
    margin:0;
    padding:0;
    list-style:none;
}
.sui-date-content li, .sui-date-week li {
    width: 25px;
    float: left;
    text-align: center;
    line-height: 23px;
}
.sui-date-picker .sui-date-week, .sui-date-picker .sui-date-content {
    margin-left: 2px;
    overflow: hidden;
    padding:5px;
}


.sui-date-picker .current {
    color: $primary;
}

.sui-date-control {
    background: #565964;
    line-height: 25px;
    color: #fff;
    padding: 1px 5px;
    text-align: right;
}

.sui-date-year {
    float: left;
}

.sui-date-content li:hover {
    background: $primary;
    color: #fff;
    cursor: pointer;
}

.sui-date-content li.disabled,
.sui-date-content li.disabled:hover {
    background: #fff;
    cursor: default;
    color:#999;
}

.sui-date-ctrl-action {
    cursor: pointer;
    display:inline-block;
    width:16px;
    height:16px;
    text-align:center;
}

.sui-date-footer {
    background: #eee;
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.sui-date-action{
    color:#fff;
    text-decoration: none;
    font-size: 12px;
}