.sui-grid-table{
  table-layout: fixed;
  width:100%;
}
.sui-grid-header th,
.sui-grid-body td{
    padding:5px 10px;
    text-align: left;
    border:1px solid #ddd;
}
.sui-grid-view{
  overflow:scroll;
  height:100px;
}
.sui-grid-view .sui-grid-table{
  width:200%;
}
.sui-grid-frozen{
  float:left;
  width:180px;
  overflow: hidden;
}
