
$body-color: #333;
$body-color-light: #666;
$body-color-lighter: #999;

$normal: #fff;
$primary: #4f90f6;
$warn: #cd3f33;
$success:#56a643;
$info:#f2b22a;


$text-color: $body-color;

$link-color: $primary;
$link-color-hover: $primary;


$font-size-base: 12px;
$font-size-large: 14px;
$font-size-larger: 16px;

$line-height-base: 1.333;
$line-height-computed: $line-height-base * $font-size-base;

$padding-small-vertical: 3px;
$padding-small-horizontal: 10px;

$padding-base-vertical: 6px;
$padding-base-horizontal: 15px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 20px;

$line-height-large: 1.8;

$border-radius-base: 3px;


@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin inline-block{
  display: inline-block;
  *display: inline;
  zoom:1;
}

@font-face {font-family: 'iconfont';
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.sui-icon-font{
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
}
