<div class="simple-date-picker">
    <div class="simple-date-control">
        <div class="simple-date-year">
            <span class="simple-date-action" widgetpoint="prevYear">p</span>
            <span class="" widgetpoint="dateYear"></span>
            <span class="simple-date-action" widgetpoint="nextYear">n</span>
        </div>
        <span class="simple-date-month">
            <span class="simple-date-action" widgetpoint="prevMonth">p</span>
            <span class="" widgetpoint="dateMonth"></span>
            <span class="simple-date-action" widgetpoint="nextMonth">n</span>
        </span>
    </div>
    <ul class="simple-date-week" widgetpoint="dateWeek">
        
    </ul>
    <ul widgetpoint="dateContent" class="simple-date-content">
    	
    </ul>
    <!--<div class="simple-date-footer">
            <span class="" widgetpoint="dateToday">今天</span>
    </div> -->
</div>